body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url("../img/tela-fundo.jpeg.crdownload");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(2px); */
    /* background-color: whitesmoke; */
}


.version{
    font-size: 10px;
    color: white;
}

.navbar{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    /* justify-content: center; */
    
    
}

.img__logo{
    width: 170px;
    height: 70px;
}

.sub__title{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-family: sans-serif;
}



p{
    /* text-align: center; */
    font-size: 25px;
    font-family: sans-serif;
    padding-top: 10px;
    
}

.font__label{
    padding-bottom: 10px;
    font-size: 15px;
    
}



.font__label:hover{
    font-weight: bold;
    transition: 3ms;
    font-size: 15px;
    
    /* -webkit-transform: scale(0.95);
    transform: scale(0.95); */
}

.container-bord{
    /* border: 2px solid black; */
   
    border-radius: 10px;    
    padding-bottom: 20px; 
    /* background-color: whitesmoke; */
}

.container-button{
    text-align: center;
    /* padding-top: 20px; */
}

#enter{
    font-size: 13px;
    margin-top: 25px;
    
}

#reset{
    font-size: 13px;
    margin-top: 25px;
}

.largura-div{
    /* width: 700px; */
    width: 430px;
   
}

.largura__input{
    width: 350px;
}

.subTitle__footer{
    color: black;
    font-family: sans-serif;
    font-size: 15px;
}

#div__oculta{
    display: none;
    text-align: center;
    
}

.footer{
    display: flex;
    justify-content: center;
    padding: 14px;
    background-color: aquamarine;
}